<!-- homepage section start -->
<section class="container mx-auto">

<!-- hero section start -->
<section id="heroSection" class="font-sans">

    <div class="container">

        <!-- navigation start -->
    <nav class="pt-4 pb-4 h-11">
        <div class="nav-wrapper flex flex-row justify-between w-[70%] mx-auto items-center">
            <a href="#" class="logo">
                <img src="assets/logo.png" alt="logo">
                </a>

                <ul class="flex flex-row font-sans">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class=""><a href="#">Get Started</a></li>
                </ul>
        </div>
    </nav>

        <!-- navigation end -->

        <!-- hero content start -->

    <div class="hero-content">
        <p class="pill text-center">Welcome to Oguntechies</p>

        <h1 class="capitalize font-sans text-center">The Home of <span class="text-[#EFBE03]"> ogun </span>tech enthusiasts</h1>

        <p class="b-base text-center font-sans">Become a member and join our exclusive community of techies and connect with like minded individuals</p>

        <div class="flex gap-6 justify-center font-sans">
            <button class="b-base font-bold bg-[#1E1E1E] text-white rounded-lg p-4 gap-2">Join Us</button>
            <button class="b-base font-bold bg-transparent border-[#279249] border p-4 rounded-lg text-[#279249]">Invite a friend</button>
        </div>
    </div>

        <!-- hero content end -->

        <!-- hero image carousel start -->

        <!-- hero image carousel end -->

    </div>

</section>
<!-- hero section end -->

<!-- what You gain section start -->

<section id="whatYouGainSection" class="font-sans">

    <div class="container">

        <div class="text-center">
            <p class="b-base text-[#CE9300] font-bold">What you gain</p>
            <h4 class="text-[#36B15D]">Build your future with Oguntechies</h4>
            <p>Learn, grow, and succeed. Whether you're just starting or have been on your tech journey for a while, we've got something for everyone.</p>
        </div>

        <!-- card section start -->
       
        <app-benefits-card></app-benefits-card>  

            <!-- card section end -->

    </div>

</section>

<!-- what You gain section end -->


<!-- community projects section start -->

<section class="font-sans">

    <div class="container">

        <div class="text-center">
            <p class="b-base text-[#CE9300] font-bold">Community Projects</p>
            <h4 class="text-[#36B15D]">Build your future with Oguntechies</h4>
            <p>Learn, grow, and succeed. Whether you're just starting or have been on your tech journey for a while, we've got something for everyone. </p>
        </div>

        <!-- start -->
        <app-community-projects-card></app-community-projects-card>
        <!-- end -->
    </div>

</section>

<!-- community projects section end -->

<!--  Events section start -->

<section class="font-sans">

<div class="container">

    <div class="text-center">
        <p class="b-base text-[#CE9300] font-bold">Events</p>
        <h4 class="text-[#36B15D]">Build your future with Oguntechies</h4>
        <p>Learn, grow, and succeed. Whether you're just starting or have been on your tech journey for a while, we've got something for everyone. </p>
    </div>
 
    <div>

        <a class="flex flex-col group bg-white border no-underline shadow-sm rounded-xl overflow-hidden hover:shadow-lg focus:outline-none focus:shadow-lg transition max-w-[1000px] mx-auto max-h-[1000px]" href="#">
            <div class="relative pt-[50%] sm:pt-[60%] m-4 rounded-[0.625rem] overflow-hidden">
              <img class=" absolute top-0 start-0 object-contain group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl h-[400px] w-[1000px]" src="assets/eventRocket.png" alt="Card Image">
            </div>
            <div class="px-4 pb-4 md:px-5 md:pb-5">
              <p class="text-lg pt-2 pb-5 font-bold text-gray-800">
                Event Title <span></span>
            </p>
              <p class="mt-1 mb-5 text-gray-500">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta tellus felis, in lobortis elit tincidunt et. Donec quis blandit nunc. Praesent et lectus egestas, viverra leo et, consectetur nunc. Duis efficitur pharetra felis, quis sagittis mi vestibulum quis. Vestibulum rutrum semper sagittis. Integer semper tincidunt congue. Proin tempor blandit orci eget vulputate.
              </p>
              <a class="no-underline my-9">
                RSVP 
                <span class="inline-flex align-middle">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.125 10H16.875" stroke="#279249" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#279249" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                                   
              </span>
            </a>
            </div>
          </a>

    </div>

</div>

</section>
<!--  Events section end -->


</section>
<!-- homepage section end -->